<div fxLayout="column" fxFlex="100" style="padding: 10px;">
  <div fxLayout="row">
    <h1>Saúde</h1>
  </div>
  <div fxLayout="column">
    <div fxLayout="column">
      <div>
        <h3>Você faz exames regularmente?</h3>
      </div>
      <div fxLayout="row" fxFLex="100">
        <mat-form-field fxFLex appearance="outline">
          <input matInput type="text">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="column">
      <div>
        <h3>Quanto gostaria de ter para cuidar da sua saúde daqui 50 anos?</h3>
      </div>
      <div fxLayout="row" fxFLex="100">
        <mat-form-field fxFLex appearance="outline">
          <input matInput type="text">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="column">
      <div>
        <h3>Descreva sua prioridade com Saúde:</h3>
      </div>
      <div fxLayout="row" fxFLex="100">
        <mat-form-field fxFLex appearance="outline">
          <textarea matInput class="height-textarea"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
